.ui-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $background;
  box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 40px;
  line-height: 1;
  padding: 0 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.ui-header .ui-button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  padding: 0;
  font-size: inherit
}
.ui-header .ui-button::after {
  content: none;
}
.ui-header.is-fixed {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.ui-header-button {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
}
.ui-header-button > a {
  color: inherit;
}
.ui-header-button.is-right {
  text-align: right;
  color:#fff;
}
.ui-header-button.is-left {
  text-align: left;
  color:#fff;
}
.ui-header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  font-weight: 400;
  color:#fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}